<h2>Exercice 1 : Note</h2> <br/>
{{textarea value=model.content maxlength=model.MAX}} <br/>
<div class="alert alert-{{model.style}}">Il vous reste {{model.size}} caractères disponibles</div>
<button {{action "save"}} class="btn btn-primary">Enregistrer</button>
{{#if model.info}}
  <div class="alert alert-info">{{model.info}}</div>
{{/if}}
{{outlet}}
